* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Poppins";
}

.four_zero_four_bg {
  background: url("./bg.gif");
  height: 400px;
  width: 60%;
  background-position: center;
  margin-left: 20%;
}

*/ a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #39ac31;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

.content_box_404 {
  margin-top: -50px;
}

a:hover {
  text-decoration: none;
  color: #eceaea;
  background: #109a08;
}
